@import '../../../../styles.scss';
@import '../../utils/mixins/flex-content.scss';

.container {
    // margin: 30px;
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    @include flex(row, space-between);
    margin-top: 0px;
    // height: 80px;
    width: 100vw;
    max-width: 100vw;
    position: fixed !important;
    background-color: $white-color;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    top: 0;
    z-index: 1020;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        text-align: center;
        // margin: 20px;
    }
}

// .container__right__cart span {
//     position: relative;
//     bottom: 20px;
//     left: 30px;
// }


.counter{
  position: absolute!important;// Esto permite colocar el contador en una posición absoluta con respecto al contenedor .image-container
  top: 10px;
  right: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(95, 64, 236);
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  align-items: center;
}
.container__left {
    background-color: $white-color;
    @include flex(row, space-between,center);
    width: 60%;
    padding-left: 20px;
}

.container__right {
    width: 40%;
    @include flex(row, flex-end,center);
    background-color: $white-color;
    padding-right: 20px;

    @media only screen and (max-width: 600px) {
        width: 100%;
        justify-content: center;
    }
}


.container__right__cart {
    position: relative;
    @include flex(row, center,center);
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
}
.container__right__login{
  margin-left: 10px;
  cursor: pointer;
}

.container__left nav {
    @include flex(row);
}

.container__left nav ul {
    margin: 0;
    @include flex(row);
}

.container__left nav ul li {
    list-style: none;
    text-decoration: none;
    margin-right: 10px;
    font-family: 'Lora', serif;
    color: $primary-color;
    cursor: pointer;
}

.container__right__main__search {
    width: 170px;
    height: 30px;
    display: flex;
    @include flex(row, flex-end);
    border-radius: 5px;
    border: 1px solid #ccc
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container__right__main__search input {
    border: 0;
    font-size: 16px;
    width: 100px;
    transition: 0.8s;
    margin-left: 10px;
    outline: none;
}

.container__right__main__search:hover input {
    // width: 100px;

    // padding: 10px 20px;
}

.container-search{
  @media only screen and (max-width: 600px) {
    left: 0!important;
    width: 100%!important;
  }
}

.container__right__main__search img {
    padding: 5px 10x;
    position: relative;
    left: -5px;
    height: 17px;
    border: 0;
}

.container__right__main__search input::placeholder {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #5C5C5C;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
}

.underline {
    text-decoration: underline !important;
    text-decoration-color: $primary-color !important;
    padding-bottom: 2px;
}
