.container {
    display: flex;
    margin: 90px 30px;
}

.container__left {
    width: 30%;
}

.container__right {
    width: 70%;
}

.container__right__main img {
    width: 40px;
    height: 40px;
}

.container__right__main span {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
}

.container__right__main p {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
}

button span{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
}