<div class="container">
    <div class="container__left">
        <img src="assets/image-headphones.svg" alt="">
    </div>
    <div class="container__right">
        <div class="container__right__main" style="
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    ">
            <span>Beats Studio3 Wireless Headphone</span>
            <p>
                Ergonomic ear cups with on-ear controls. Up to 22 hours of listening time. Apple W1 chip & Class 1 Wireless Bluetooth.
            </p>
            <img src="assets/stars.svg" style="width: 100%;" alt="stars"  >
            <span>
                Price $349.95
            </span>
            <div style="display: flex;">
                <button style="background: transparent;
                border: 1px solid #3734A9;
                border-radius: 10px;
                padding: 10px;cursor: pointer;
            ">
                    <img src="assets/heart.svg" alt="icon-heart">
                </button>

                
                <button style="background: transparent;
                border: 1px solid #3734A9;
                border-radius: 10px;padding: 10px;display: block;
                margin-left: 10px;cursor: pointer;
            ">
                    <span style="color: #3734A9;">Add to cart</span>
                </button>

                
                <button style="background: transparent;
                border: 1px solid #3734A9;
                border-radius: 10px;padding: 10px;
                display: block;
                margin-left: 10px;
                cursor: pointer;
            ">
                    <span style="color: #3734A9;">Buy now</span>
                </button>
            </div>
        </div>
    </div>
</div>