
 <ng-container *ngIf="product$ | async as Product">
  <div class="product mgt-118 mgb-40 pdl-20 pdr-20">
    <div class="product-image mgt-30">
      <img src="assets/headphones-item.svg" alt="Imagen del Producto" />
    </div>
    <div class="product-details">
      <h1 class="product-title">{{ Product.name }}</h1>
      <p class="product-price">
        {{ Product.price | currency }}
      </p>
      <p class="product-description">
        {{ Product.descripcion }}
      </p>

      <span>
        Stock:
        <button class="btn-available">Disponible</button>
      </span>
      <div class="flex mgt-10 mgb-10">
        <!-- <a (click)="payWithPaypal()" class="product-button">Pagar</a> -->
        <a (click)="createOrder(Product)" class="product-button">Crear orden</a>
        <a (click)="addToCart()" class="product-button mgl-10">Agregar al carrito</a>
      </div>
      <!-- <button (click)="createOrder()">crear orden</button> -->
      <span class="tyc">
        *Aviso sólo para usuarios extranjeros: Para realizar un envío fuera de
        Perú, escríbenos desde nuestra página de contacto con el producto que
        deseas comprar. Pronto contaremos con un sistema de logística
        automatizado para pedidos del extranjero.*
      </span>
    </div>
  </div>
</ng-container>

<ng-container>
  <div class="pd-20">
    <h2>Comentarios:</h2>
    <form [formGroup]="commentFormGroup" (ngSubmit)="submit()">
      <input type="text" name="comment" formControlName="text" id="comment" placeholder="Ingresa un comentario...">
      <button type="submit">Enviar</button>
    </form>
    <ng-container *ngFor="let comment of comments"></ng-container>
  </div>
</ng-container>
