<div class="container">
    <div class="container__card">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sunt fugiat, </p>
        <div class="container__card__profile">
            <img src="assets/profile.svg" alt="">
            <div class="container__card__profile__content">
                <p>Name Surname</p>
                <span>CEO de google</span>
            </div>
        </div>
    </div>
    <div class="container__card">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.!</p>
        <div class="container__card__profile">
            <img  src="assets/profile.svg"  alt="">
            <div  class="container__card__profile__content">
                <p>Name Surname</p>
                <span>CEO de google</span>
            </div>
        </div>
    </div>
    <div class="container__card">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident sunt fugiat, </p>
        <div class="container__card__profile">
            <img  src="assets/profile.svg"  alt="">
            <div  class="container__card__profile__content">
                <p>Name Surname</p>
                <span>CEO de google</span>
            </div>
        </div>
    </div>
</div>