<div class="main-container">
  <app-banner></app-banner>


  <ng-container *ngIf="categories">
    <div class="container-chips">
      <div
        *ngFor="let category of categories"
        class="container-chips-item"
        [ngClass]="{
          isSelected: idSelected == category.id,
          white: idSelected == category.id,
          black: idSelected != category.id
        }"
      >
        <span (click)="selectCategory(category.id)">{{ category.name }}</span>
      </div>
    </div>
  </ng-container>

  <div class="container">
    <ng-container *ngIf="enableInfiniteScroll">
      <ng-container *ngIf="products">
        <div
          class="container__cards"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="500"
          (scrolled)="onScroll()"
          [scrollWindow]="true"
        >
          <div *ngFor="let product of products" class="container__cards__total">
            <div
              class="container__cards__total__item"
              (click)="seeDetails(product)"
            >
              <img
                class="container__cards__total__item__item-image"
                src="assets/headphones-item.svg"
                alt="product"
              />
              <strong class="container__cards__total__item__title"
                >{{ product.name }}
              </strong>
              <ng-container *ngIf="product.price !== 0">
                <span class="container__cards__total__item__price"
                  >Price: $/{{ product.price }}
                </span>
              </ng-container>
              <ng-container *ngIf="product.price === 0">
                <span class="container__cards__total__item__price">FREE </span>
              </ng-container>
              <div class="container__cards__total__item__price__rating">
                <div class="container__cards__total__item__price__rating__rate">
                  <img src="assets/product-rate.svg" alt="rate" />
                  <span>4.9</span>
                </div>
                <div class="container__cards__total__item__price__rating__add">
                  <div
                    class="container__cards__total__item__price__rating__add__cart"
                  >
                    <img src="assets/cart.svg" alt="rate" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ng-container *ngIf="products.length <= 0">
          <div class="container__cards__total__item__not-found">
            <img
              class="container__cards__total__item__not-found-image"
              src="https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg"
              alt="product"
            />
            <span>No hay items</span>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>

  <app-newsletter></app-newsletter>
</div>
