<footer>
  <div class="container">
    <div class="container__first">
      <img src="" alt="" />
    </div>

    <div class="container__second">
      <h3>Acerca de Mi</h3>
      <div class="container__second__about-me">
        <span>Terminos y condiciones</span>
        <span>Política de privacidad</span>
        <span>Preguntas frecuentes</span>
      </div>
    </div>

    <div class="container__third">
      <h3>Contactanos</h3>
      <div class="container__third__contact">
        <span>Soporte</span>
        <span>Contacto</span>
      </div>
    </div>
  </div>
</footer>
