@import '../../../../styles.scss';
@import '../../utils/mixins/flex-content.scss';
footer {
    background: $primary-color;
    padding: 95px 0;
}
.container {
    @include flex(row, center, stretch, wrap);
    @media only screen and (max-width: 600px) {
        @include flex(column, center, stretch, wrap);
    }
}

.container__first,
.container__second,
.container__third {
    width: 30%;
    @media only screen and (max-width: 600px) {
        width: 100%;
        @include flex(column, center, center, wrap);
        margin-bottom: 30px;
    }
}

.container__second__about-me {
    @include flex(column);
}
.container__second__about-me span{
    color: $white-color;
}

.container__third__contact{
    @include flex(column);
}
.container__third__contact span{
    color: $white-color;
}

.container__second__contact {
    @include flex(column);
}

h3 {
    color: $white-color;
}

ul {
    list-style: none;
}

.social{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    @media only screen and (max-width: 600px) {
        align-items: center;
        justify-content: space-around;
    }
}
.social-copyright span{
    color: $white-color;
}
.social-follow{
    color: $white-color;

    @include flex(row,center,center);
}
.social-follow span ,.social-follow a{
    margin-right: 10px;
}
