/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;

    font-family: 'Lora', serif;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #F2F6FF !important;
}
$spaceamounts:(
  1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,30,40,96,118
);

$primary-color: #3734a9;
$white-color:#fff;

.white{
  color: white;
}

.flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.space-between{
  justify-content: space-between;
}
@each $space in $spaceamounts{
  .mg-#{$space} {
    margin: #{$space}px !important
  }
  .mgt-#{$space} {
    margin-top: #{$space}px !important;
  }
  .mgr-#{$space} {
    margin-right: #{$space}px !important;
  }
  .mgb-#{$space} {
    margin-bottom: #{$space}px !important;
  }
  .mgl-#{$space} {
    margin-left: #{$space}px !important;
  }
}

@each $space in $spaceamounts{
  .pd-#{$space} {
    padding: #{$space}px !important
  }
  .pdt-#{$space} {
    padding-top: #{$space}px !important;
  }
  .pdr-#{$space} {
    padding-right: #{$space}px !important;
  }
  .pdb-#{$space} {
    padding-bottom: #{$space}px !important;
  }
  .pdl-#{$space} {
    padding-left: #{$space}px !important;
  }
}

.align-center{
  align-items: center;
}
.justify-between{
  justify-content: space-between;
}
